@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  padding: 0;
}
p,h5,h2,li,label {
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
}

input{
  font-family: 'Playfair Display', serif;
}

textarea{
  font-family: 'Playfair Display', serif;
}

button{
  font-family: 'Playfair Display', serif;
}
.blur-background {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 10; /* Adjust the z-index to make sure it's above the content */
}
